@import "Responsive.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}

.Services {
    min-height: 500px; 
  
}


.Services .box img {

    height: auto;
    display: block;
}

.loader {
  position: relative;
  width: 85px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#038c7f 50px, transparent 0),
   linear-gradient(#038c7f 50px, transparent 0),
   linear-gradient(#038c7f 50px, transparent 0),
   linear-gradient(#038c7f 50px, transparent 0),
   linear-gradient(#038c7f 50px, transparent 0),
   linear-gradient(#038c7f 50px, transparent 0);
  background-position: 0px center, 15px center, 30px center, 45px center, 60px center, 75px center, 90px center;
  animation: loaderpage 0.65s linear infinite alternate;
}


@keyframes loaderpage {
0% { background-size: 10px 3px;}
16% { background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
33% { background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
50% { background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px}
66% { background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px}
83% { background-size: 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px, 10px 3px}
100% { background-size: 10px 3px, 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px}
}
  


body {

 
}

.loaderscreen.add {
  background-color: #0d0d0d;
  position: fixed;
  height: 100vh;
  width: 100vw;
  inset: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
}


.loaderscreen.add {
  opacity: 1;
}

.loaderscreen.fade-out {
  opacity: 0;
  pointer-events: none; 
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  overflow-x: hidden;
  max-width: 100%;
  margin-right: auto;
  

}




.mouse {
  width: 48px;
  height: 78px;
  box-sizing: border-box;
  border: 2px solid #fff;
  position: relative;
  border-radius: 50% 50% 50% 50% / 25% 25% 25% 25%;
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: auto;
}

.mouse::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50% , 50%);
  width: 10px;
  height: 10px;
  background: #FFF;
  border-radius: 50%;
  animation: fadeDown 1s ease-out infinite;
}

@keyframes fadeDown {
  0% {
    top: 0%;
    opacity: 1;
  }
  100% {
    top: 60%;
    opacity: 0;
  }
}





header  {
   background-image: linear-gradient(
      90deg,
      rgb(13 13 13 / 55%) 35%,
      rgba(3, 140, 127, 1) 100%
    ),
    url("../css/header.webp");  
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
 
  background-attachment: fixed;
  overflow: hidden;

}



/* 
.header-image-1 {
    background-image: url('/css/i3.jpg');
  }
  
  .header-image-2 {
    background-image: url('/css/i2\ \(1\).jpg');
  }
   */

.icon {
  display: none;
}

.over {
  position: absolute;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background: rgb(13, 13, 13);
  background: linear-gradient(
    90deg,
    rgb(13 13 13 / 55%) 35%,
    rgba(3, 140, 127, 1) 100%
  );
}

header .head-1 {
  background-color: #0d0d0d;
  color: #fff;
  padding: 10px;
}

header .head-info .icon {
  padding-right: 10px;
}

header .head-1 .head-info {
  display: flex;
  justify-content: space-between;
}

.head-info .media li span {
  padding-right: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.head-info .media li span:hover {
  color: rgb(24, 113, 247);
}

.head-info .media li .inst:hover {
  color: rgb(250, 53, 135);
}

header .head-1 .head-info ul {
  display: flex;
  list-style: none;
}

header .head-1 .head-info li {
  padding-right: 40px;
}

.header-menu .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-menu .logo img {
  width: 60%;
}

.header-menu .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  background-color: #fff;
  padding: 11px;
  position: fixed;
  width: 100%;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
a,
.header-menu .flex ul li {
  display: inline-block;
  padding: 0 12px;
  text-align: center;
  transition: 0.5s;
}

.header-menu .flex ul li a:hover {
  color: #038c7f;
}

.header-menu li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.1.1em;

}

.contact-header p {
  margin-bottom: 50px;
  overflow-x:  hidden;
}

.contact-header .pererntbtn {
  display: inline-block;
  background-color: #038c7f;
  border: none;
  color: #fff;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}

.contact-header .btn {
  padding: 0 5px;

}
.contact-header .btn:hover {
  background: transparent;
}

.contact-header .pererntbtn:hover {
  background-color: #182126;
}

.contact-header .ele {
  display: block;
  padding: 18px 44px;
}




.contact-header .ele a{
 text-decoration: none;
 color: #fff;
 font-size: 1.2em;
}


.contact-header p {
  font-size: 1.2em;
}

.box-modle .box {
  z-index: 1;
  position: relative;
  color: #787878;
  transition: color 0.5s;
  display: inline-block;
  overflow: hidden; 
}

.box-modle .box::before {
  content: "";
  width: 0;
  z-index: -1;
  height: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all .6s ease;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;  

 

}

.box-modle .box:hover::before  {
  height: 100%;
  width: 100%;
  background-color: #182126;
  border-top-right-radius: 0;
  border-top-left-radius: 0 ;
}

.box-modle .box:hover  .boxinfo h2  {color: #fff;}


 /*============== section contact ============*/
    .form-perent {
max-width: 640px;
padding: 1.5em;
margin: 150px auto;
     background-color: #182126;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
       padding: 20px;
       color: #FFF;
       border-radius: 15px;

       
    }

    .form-perent  h2{

text-align: center;
color: #FFF;
       
    }



    .form input {
        padding: 12px 12px;
        width: 100%;
        outline: none;
        border: none;
        background-color: #182126;
        border: 1px solid #eee;
        color: #FFF;
    }

    .form  div {
    
    }

    button {
      padding: 10px 19px;
      background-color: #038c7f;
      color: #fff;
      border: 0;
outline: none; 
font-size: 16px;
border-radius: 12px;
cursor: pointer;
display: inline-block;
width: 100%;
    }

/*============== end ============*/


/* end inner section */

.elevideo video {
  width: 500px;
    height: 400px;
}

.flex-2 {
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
  color: #fff;
height: 100vh;
  text-align: center;
  justify-content: center;
  
}

.box-modle {
  margin-top: 50px;
}

.box-modle .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.box-modle .container .box {
  /*     background: linear-gradient(217deg, #038c7e91, rgba(255, 255, 255, 0));  */
  display: flex;
  justify-content: center;
  padding: 15px;
  height: auto;
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
 box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.box a {
  text-decoration: none;
  line-height: 1.2;
}

.boxinfo {
  text-align: center;
}

.boxinfo img {
  width: 80px;
}

.boxinfo p {
  color: #787878;
}

.boxinfo h2 {
  font-size: 1.2em;
  margin: 11px 0;
  width: 230px;
  display: inline-block;
  text-align: center;
  color: #0d0d0d;
}

.contact-header h1 {
  font-size: 5rem;
}



/* start section inner */

.inner {
  margin-top: 120px;
}


.inner .flex_section {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

.info_inner span {
  font-size: 1.3em;
  display: block;
  color: #038c7f;
  font-weight: 500;
  margin-bottom: 16px;
}

.Qualité {
  background-color: rgb(6 223 203 / 20%);
  padding: 20px;
  margin-bottom: 16px;
  border-left-color: #038c7f;
  border-left-width: 3px;
  border-left-style: solid;
  font-size: 19px;
  font-style: italic;
}

.info_inner h1 {
  margin-bottom: 16px;
}

.info_inner .paragraph p {
  color: #787878;
  line-height: 1.5em;
  text-align: justify;
}

.info_inner span {
  font-size: 1.3em;
  display: block;
  color: #038c7f;
  font-weight: 500;
  margin-bottom: 16px;
}




@media (max-width: 992px) {
  .inner .flex_section img {
   width: 100%;
   height: auto;
  }
  
}



@media (max-width: 992px) {
  .inner .flex_section {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  .header-menu {
    border-radius: 0;
    margin: 0;
  }

  .menu {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .menu.active {
    visibility: visible;
    opacity: 1;
  }

  .header-menu .container .menu li {
    text-align: left;
    padding: 16px 0;
  }

  .header-menu .container .menu li a {
    color: #fff;
  }

  .header-menu .container .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #182126;
    width: 100%;
  }

  .header-menu .container .logo{
    display: flex;
   justify-content: center;
 
  }
  


  .icon {
    font-size: 1.5em;
    display: block;
    cursor: pointer;
  }

  .contact-header h1 {
    font-size: 2.2em;
    margin: 20px 0;
  }

  header .head-1 .head-info li {
    display: none;
  }

  header .head-1 {
    display: none;
  }
}

.iconsocial {
  position: fixed;
  right: 15px;
  bottom: 15px;
}

.iconsocial img {
  width: 30px;
}

.social img {
  width: 40px;
}

.iconsocial .send {
  display: flex;
  cursor: pointer;
  justify-content: end;
}

textarea {
  resize: none;
  outline: none;
  border: 1px solid #ddd;
  padding: 10px;
}

.iconsocial {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}


/* start section Services */

.Services {
  margin-top: 120px;

  text-align: center;
}

.Services  .info-Services span {
  font-size: 1.3em;
  line-height: 4.2;
  color: #038c7f
}

.Services .description {
  margin-top: 20px;
  line-height: 1.5em;
  color: #787878;
  margin-bottom: 30px;
  
}


.box-Services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;

}

.Services .box {
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #FFF;
  padding: 20px;
  border-radius: 20px;
  
}

.Services .box h2 {
  padding-bottom: 20px;
}

.Services .box p {
  color: #787878;
  text-align: center;
}


.Services .box img {
  width: 100%;
  height: 200px;
  border-top-right-radius: 20px;
   border-top-left-radius: 20px;
}

.box-Services .box  {

 padding: 0;

}

.box-Services .box  .link {

padding: 0;
text-decoration: none;
color: #0d0d0d;
 
 }

.box-Services .box .modle-info {
  text-align: center;
  background-color: #f9f9f9;
}

/*end section Services*/


/*start section Approche*/
.Approche {
  margin-top: 120px;
}


.Approche .flex_approche .imgApproche img{
width: 50%;

} 
.imgApproche  {
  display: contents;
}



.flex_approche {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 40px;
}


.modle-Approche .media {
  gap: 20px;

}


.Approche-info .modle-Approche .modle {
  display: flex;
  align-content: center;
  padding: 20px;

}

.Approche-info .modle-Approche .modle .iconApproche {
   font-size: 30px;
   margin-right: 10px;
   
}

.Approche-info  span {
  line-height: 3.5;
  color: #038c7f;
  font-style: italic;
}

.Approche-info title {
  font-size: 2.1em;
}

.modle .content h2 {
  color: #182126;
  margin:  0 0 10px;
}

.modle-info p {
  color: #787878;
}




.RÉFÉRENCES { margin-top: 120px;  }
.RÉFÉRENCES .box_RÉFÉRENCES{
  display: flex;
  justify-content: center;

  
}


.RÉFÉRENCES::after {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.RÉFÉRENCES::before {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}



.boxinma {

  overflow: hidden;
  width: 90%;
  display: flex;


}







.RÉFÉRENCES .box_RÉFÉRENCES {animation: 25s slide infinite linear;display: flex;align-items: center;}



.RÉFÉRENCES .box_RÉFÉRENCES .box{
  padding: 0 20px;

  
}

@keyframes slide {
  0% {
    transform:  translateX(0);
  }

  100% {
    transform:  translateX(calc(-100%));
  }
}




/*end section Approche*/

.Réalisation   {
  padding-top: 120px;

}



.Réalisation .container .perentbox{
 display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
gap: 10px;
text-align: center;
}

.Réalisation .boxRéalisation {
  background-color: #fff;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}



.Réalisation .container .perentbox img{
 width: 100%;
}


.substyle {
  padding-top: 120px;
  width: 100% ;
}
.image {
  display: flex;
  justify-content: center;
}

.substyle  img {
  min-width: 50%;
  height: auto;
 
}


@media only screen and (max-width: 768px) {
.Approche .flex_approche .imgApproche img {
    width: 100%;
}
  img {
    width: 100%;
  }
}


p{
  width: 100%;
  line-height: 1.6;
  padding: 10px;
}

strong {
  font-weight: bold;
  color: #038c7f;
}

.blog {
  margin-bottom: 120px;
}

@media (max-width: 992px) {

  .Approche-info .title {
    text-align: center;
  }
  .flex_approche{
    display: flex;
    flex-direction: column;

   }
  
}





.footer {
  width: 100%;
  background: #182126;
}
.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}
.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}
.footer-col .links {
  margin-top: 20px;
}
.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}
.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer-col li {
  color: #FFF;
}
.footer-col .links li a:hover {
  color: #fff;
}
.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}
.footer-col form {
  display: flex;
  gap: 5px;
}




.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}
.footer-col .icons i {
  color: #afb6c7;
}
.footer-col .icons i:hover  {
  color: #038c7f;
}

@media (max-width: 768px) {
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  .footer-col form {
    display: block;
  }

  .footer-col form :where(input, button) {
    width: 100%;
  }

  .footer-col form button {
    margin: 10px 0 0 0;
  }
}